In [1]:
a =10
print(a)

10

In [2]:
#starting

In [3]:
a =2
print(a)

2

In [4]:
a ="Hello World"
print(a)

Hello World

In [5]:
#intro

In [7]:
clear

#Introduction

# introduction to python

In [26]:
a =5
b =9
c = 7
print(a, end =" is less numbers than ")
print(b, end =" is greater ")
print(c)

5 is less numbers than 9 is greater 7

In [37]:
#perators in python
a=5
b="nancy"
c=2
d=" is beautiful"
print(a+c)
print(b+d)
print(type(a))
print(type(b))

7
nancy is beautiful
<class 'int'>
<class 'str'>

In [74]:
#strings in python
a ="            i love nancy "
b ="realy "
c= a+b 
print(c)

d = c.strip()
e = d+"yes"
print(b[:4])

            i love nancy realy
real

In [59]:
#input
a=input()
print(type(a))

145
<class 'str'>

In [64]:
a = int(input(a))
print(type(a))

2045
<class 'int'>

In [84]:
#tuples
#are also inmuatable
a= (2,4,7,8)
b= (4,'na',5.3)
print(b+a)
print(4 in a)

(4, 'na', 5.3, 2, 4, 7, 8)
True

In [124]:
#lists
a =[2,4,'dc',6]
print(a)
print(a[0:1])
print(type(a))

[2, 4, 'dc', 6]
[2]
<class 'list'>

In [125]:
 a1 = list()
a1

[]

In [96]:
a2 = list(a1)
a2

[]

In [128]:
a = [i for i in range(22)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [1]:
a = [1,2,3,4]
for i in a:
    print(i,end =" ")

1 2 3 4

In [16]:
l = input()
print(type(l))

1 2 3 4
<class 'str'>

In [19]:
l = l.strip()
l = l.split(" ")
l

['1', '2', '3', '4']

In [22]:
l =[int(x) for x in input().strip().split(" ")]
l

1 4 7 8

[1, 4, 7, 8]

In [27]:
l.append(2)
l

[1, 4, 5, 7, 8, 2, 2, 2, 2]

In [30]:
l.pop()
l

[1, 4, 5, 7, 8, 2, 2, 2]

In [31]:
l.remove(2)
l

[1, 4, 5, 7, 8, 2, 2]

In [32]:
l.reverse()
l

[2, 2, 8, 7, 5, 4, 1]

In [35]:
print(l.count(9))

0

In [50]:
#loops
#for loop
n = int(input())
for i in range(1,n):
    print(i, end =" ")

10
1 2 3 4 5 6 7 8 9

In [ ]:
p = int(input())
curRow = 1
while curRow <= p:
    spaces = 1
    while spaces <= (p-curRow):
        print(" ",end =" ")
        spaces +=1
    curCol = 1
    while curCol <= ((2 * curRow) - 1):
        print("*", end =" ")
        curCol +=1
    print()
    curRow += 1

In [ ]:
d = {}
d[5] = 9
d

In [ ]:
d = {}
d[2] = 4
d['str'] = 3
d